<launch>
    <node name="ORB_mono" pkg="ardrone_orb" type="ros_orb_node" output="screen" args="$(find ardrone_orb)/ORBvoc.txt  $(find ardrone_orb)/my_settings.yaml">
		<remap from="/camera/image_raw" to="/ardrone/image_raw" />
    </node>  

	<node pkg="rviz" type="rviz" name="my_rviz" 
    	args="$(find ardrone_orb)/rviz_config.rviz"/>
</launch>
